.customOption{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
    color: cyan;
}

.optionTextArea{
    width: 45%;
    height: 70%;
}