body {
  background: #282C34;
}

.appContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}


