.buttonBlock {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-top: 10%;

}

.btn {
    color: #0C1B1F;
    background-color: #61DAFB;
    padding: 5px 10px;
    border-radius: 10%;
    transition: color .5s;
}

.disabledBtn {
    cursor: not-allowed;
    pointer-events: none;
    background-color: #FE0000;
}

.btn:hover {
    transition: all .5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    cursor: pointer;
}